.quickBack{
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    display:flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.paragraphBack{
    position: absolute;
    width: 600px;
    height: 350px;
    left: 420px;
    top: 200px;
    background:  #F6F6F6;
    box-shadow: 0px 10px 25px rgba(190, 188, 213, 0.53);
    border-radius: 16px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    }

    .paragraphtext{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 450;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
    }

    .recordingmic{
        width: 50px;
        height:50px;
        position: relative;
        top: 3px;
        left: 1px;
    }

    .iconback{
        position: relative;
        width: 55px;
        height: 55px;
        left: 5px;
        top: 200px; 
        background: rgba(190, 188, 213, 0.53);
        border-radius: 8px;
        }

        .recordingbutton{
            position: relative;
            top:300px;
            left:30px;
            height: 100px;
            width: 100px;
        }

          