<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Admin Dashboard</h1>
    <hr>
    <p>this is admin's dashboard</p>
    <a class="btn btn-dark btn-lg" href="/api/admin/dashboard/addCoach" role="button">Add Coach</a>
    <a class="btn btn-light btn-lg" href="/api/admin/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
