<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Client Dashboard</h1>
    <hr>
    <!-- display user streak here -->
    <a class="btn btn-light btn-lg" href="/api/client/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/api/client/updatePassword" role="button">Update Password</a>
  </div>
</div>

<%- include('partials/footer') %>
